<div class="section section-4 bg-light">
  <div class="container">
    <div class="row justify-content-center  text-center mb-5">
      <div class="col-lg-5" style="margin-top: 5%;">
        <h2 class="font-weight-bold heading text-primary mb-4">User found</h2>
       
      </div>
    </div>
    <div class="row justify-content-between mb-5">
      <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
        <div class="img-about dots">
          <img src="{{imgurl}}" alt="Image" class="img-fluid">
        </div>
        
      </div>
      <div class="col-lg-4">
        <div class="d-flex feature-h">
          <span class="wrap-icon me-3">
            <span class="icon-home2"></span>
          </span>
          <div class="feature-text">
            <h3 class="heading">Name</h3>
            <p class="text-black-50">{{username}}</p>   
          </div>
        </div>

        <div class="d-flex feature-h">
          <span class="wrap-icon me-3">
            <span class="icon-person"></span>
          </span>
          <div class="feature-text">
            <h3 class="heading">Bio</h3>
            <p class="text-black-50">{{bio}}</p>   
          </div>
        </div>

        <div class="d-flex feature-h">
          <span class="wrap-icon me-3">
            <span class="icon-security"></span>
          </span>
          <div class="feature-text">
            <h3 class="heading">Company</h3>
            <p class="text-black-50">{{company}}</p>   
          </div>
        </div>

        <div class="d-flex feature-h">
          <span class="wrap-icon me-3">
            <span class="icon-thumb-tack"></span>
          </span>
          <div class="feature-text">
            <h3 class="heading">Location</h3>
            <p class="text-black-50">{{location}}</p>   
          </div>
        </div>

        <div class="d-flex feature-h">
          <span class="wrap-icon me-3">
            <span class=" icon-people_outline"></span>
          </span>
          <div class="feature-text">
            <h3 class="heading">Followers</h3>
            <p class="text-black-50">{{followers}}</p>   
          </div>
        </div>
        <div class="d-flex feature-h">
          <span class="wrap-icon me-3">
            <span class="icon-user-circle-o"></span>
          </span>
          <div class="feature-text">
            <h3 class="heading">Following</h3>
            <p class="text-black-50">{{following}}</p>   
          </div>
        </div>
        <div class="d-flex feature-h">
          <span class="wrap-icon me-3">
            <span class="icon-dashboard2"></span>
          </span>
          <div class="feature-text">
            <h3 class="heading">Repositories</h3>
            <p class="text-black-50">{{this.public_repos}}</p>   
          </div>
        </div>
        
        <div class="d-flex feature-h">
          <span class="wrap-icon me-3">
            <span class=" icon-external-link"></span>
          </span>
          <div class="feature-text">
            <h3 class="heading"> <a href="{{this.html_url}}" target="_blank">View Repositories </a> </h3>
            <p class="text-black-50"></p>   
          </div>
        </div>
        

      </div>
    </div>
    
    
  </div>
</div>